/* The Home Page CSS FILE ... */

/* ---------------------------- Verse Content ------------------------------------ */

#indexMainVerseDisplay {
  min-height: 120px;
  margin-bottom: 2rem;
  color: #990bbf;
  font-size: 1.25rem;
  font-style: italic;
  animation: verseFade 15s infinite;
}

@keyframes verseFade {

  0%,
  100% {
    opacity: 0;
    transform: translateY(10px);
  }

  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
}
