@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --theme_color: #a117a4;
}

body {
    margin: 0;
    font-family: Poppins;
    font-size: 12px;
}

a {
    text-decoration: none;
}

/* carousel */
.carousel {
    min-height: 695px;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    /*margin-top: 50px;*/
}

.carousel .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    /* this is the same as left right top bottom set to 0 individually */
    inset: 0 0 0 0;
}

.carousel .list .item img {
    width: 100%;
    height: 100%;
    /* Avoiding some disorientation in the image */
    object-fit: cover;
    filter: blur(10px);
}

/* ============= IMAGE CONTAINER =================== */

.carousel .list .item .image-container {
    position: absolute;
    top: 7%;
    width: 500px;
    height: 630px;
    max-width: 80%;
    left: 0;
    transform: translateX(5%) !important;
    border-radius: 20px !important;
}

.carousel .list .item .image-container img {
    filter: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px !important;
}


/* =========================================================== */

.carousel .list .item .content {
    position: absolute;
    top: 10%;
    width: 1140px;
    max-width: 80%;
    /* Centering */
    right: 50%;
    transform: translateX(95%);
    padding-right: 30%;
    /* to avoid changing the size of width, due to padding-right */
    box-sizing: border-box;

    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .title {
    font-weight: bold;
    letter-spacing: 10px;
}


.carousel .list .item .rank,
.carousel .list .item .name {
    font-size: 5em;
    font-weight: bold;
    line-height: 1em;
}

.carousel .list .item .name {
    /* to stand out */
    color: var(--theme_color);
}

.carousel .list .item .description {
    font-size: 1.5em;
}

.carousel .list .item .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.carousel .list .item .buttons button {
    border: none;
    /*background-color: var(--theme_color);*/
    background-color: green;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}

.carousel .list .item .buttons button:nth-child(2) {
    background-color: transparent;
    text-align: center;
    border: 1px solid #fff;
    color: #eee;
}

/* thumbail */
.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 30;
    display: flex;
    gap: 20px;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: none;
}

.thumbnail .item .content {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title {
    font-weight: 500;
}

.thumbnail .item .content .description {
    font-weight: 300;
}

/* arrows */
.arrows {
    position: absolute;
    top: 85%;
    right: 60%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}

.arrows button:hover {
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1) {
    /*  First Element takes stage */
    z-index: 1;
}



/* animation text in first item */

.carousel .list .item:nth-child(1) .image-container,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .rank,
.carousel .list .item:nth-child(1) .content .name,
.carousel .list .item:nth-child(1) .content .description,
.carousel .list .item:nth-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.carousel .list .item:nth-child(1) .content .title {
    animation-delay: 1.2s !important;
}

.carousel .list .item:nth-child(1) .content .name {
    animation-delay: 1.4s !important;
}

.carousel .list .item:nth-child(1) .content .description {
    animation-delay: 1.6s !important;
}

.carousel .list .item:nth-child(1) .content .buttons {
    animation-delay: 1.8s !important;
}

/* create animation when next click */
.carousel.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

.carousel.prev .list .item img {
    z-index: 100;
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}

.carousel.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 4px;
    background-color: var(--theme_color);
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time {
    animation: runningTime 3s linear 1 forwards;
}

@keyframes runningTime {
    from {
        width: 100%
    }

    to {
        width: 0
    }
}


/* prev click */

.carousel.prev .list .item:nth-child(2) {
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
    filter: none;
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
    pointer-events: none;
}

.carousel.prev .list .item:nth-child(2) .image-container,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .rank,
.carousel.prev .list .item:nth-child(2) .content .name,
.carousel.prev .list .item:nth-child(2) .content .description,
.carousel.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
    .carousel .list .item .content {
        padding-right: 0;
    }

    .carousel .list .item .content .title {
        font-size: 30px;
    }
}
