<!-- components/footer/footer.html -->

<footer id="indexFooter" class="container mx-auto p-4 text-center">
  <p>Developed by Samuel Maina Gachuru</p>
  <ul class="flex justify-center space-x-4">
    <li><a href="leaders.html" class="hover:text-[#a117a4]">Leaders</a></li>
    <li><a href="registration.html" class="hover:text-[#a117a4]">Registration</a></li>
    <li><a href="contact.html" class="hover:text-[#a117a4]">Contact Us</a></li>
    <li class="dropdown">
      <a href="#" class="hover:text-[#00008b] transition-colors">Pages</a>
      <div class="dropdown-content">
        <a href="testimonies.html">Testimonies</a>
        <a href="offerings.html">Offerings</a>
        <a href="prayer-requests.html">Prayer Requests</a>
      </div>
  </ul>
</footer>
