<!-- components/footer/footer.html -->

<footer class="container mx-auto p-4 text-center">
  <p>Social Handles</p>
  <ul class="flex justify-center space-x-4 mt-2">
    <li><a href="https://twitter.com/yourhandle" class="hover:text-[#a117a4]"><ion-icon
          name="logo-twitter"></ion-icon><span id="handles">zemacu@twitter</span></a></li>
    <li><a href="https://facebook.com/yourhandle" class="hover:text-[#a117a4]"><ion-icon
          name="logo-facebook"></ion-icon><span id="handles">zemacu@facebook</span></a></li>
    <li><a href="https://instagram.com/yourhandle" class="hover:text-[#a117a4]"><ion-icon
          name="logo-youtube"></ion-icon><span id="handles">zemacu@yt</span></a></li>
    <li><a href="https://linkedin.com/in/yourhandle" class="hover:text-[#a117a4]"><ion-icon
          name="logo-tiktok"></ion-icon><span id="handles">zemacu@tiktok</span></a></li>
    <li><a href="https://linkedin.com/in/yourhandle" class="hover:text-[#a117a4]"><ion-icon
          name="logo-instagram"></ion-icon><span id="handles">zemacu@insta</span></a></li>
  </ul>
</footer>
